<h1>New Booking</h1>
<div>
  <p id="price" ><%= @boat.price_per_day %></p>
  <%= @boat.name %>
</div>
<div class="row">
  <div class="center-block col-md-4" style="float: none;">
    <div class="form">
      <%= simple_form_for [@boat, @booking] do |book| %>
      <%= book.input :start_date, as: :string, input_html: {class: "datepicker", id: "start"} %>
      <%= book.input :end_date, as: :string, input_html: {class: "datepicker", id: "end"} %>


      <div class=all_buttons>
        <button class="btn-book">
          <%= link_to "Calculate Cost", "#", id: "cost" %>
        </button>
      </div>
      <br>
        <%= book.submit "Confirm Booking", class: "btn-back", id: "confirm-button" %>
      <% end %>
      <div id="bookingcost"></div>
    </div>
  </div>
</div>

