<h1>New Booking</h1>

<div class="row">
  <div class="center-block col-md-4" style="float: none;">
    <div class="form">
      <%= simple_form_for [@boat, @booking] do |book| %>
      <%= book.input :start_date %>
      <%= book.input :end_date %>
      <%= book.submit "Confirm Booking", class: "btn-back" %>
      <% end %>
    </div>
  </div>
</div>
<%= simple_form_for [@boat, @booking] do |book| %>
  <%= book.input :start_date, id:'start_date' %>
  <%= book.input :end_date, id:'end_date'%>


<%= book.submit "Confirm Booking", class: "btn btn-primary" %>
<% end %>
