<h1 class="user-title"><%= @user.first_name %> <%= @user.last_name %></h1>

<div class="container">
  <div class="col">
    <div class="col-lg-6">
      <p><strong>User ID:</strong> <%= @user %></p>
      <p><strong>Email</strong> <%= @user.email %></p>
      <p><strong>Language</strong>: <%= @user.language %></p>
      <p><strong>Currency:</strong> <%= @user.currency %></p>
    </div>
  </div>

  <div class="scol-lg-6">
    <%= cl_image_tag(@user.photo, width: 150, height: 150, crop: :thumb, gravity: :face, radius: :max) %>
  </div>
</div>
<%= link_to "Change User Details", edit_user_registration_path %>

<div class="container">
  <div class="booking-details">
    <div class="col-lg-4">
      <ul>
        <h2>Booking Details</h2>
        <% @user.bookings.each do |book| %>
        <li>
          Boat: <%= book.boat.name %> <br>
          Period: <%= book.start_date %>, <%= book.end_date %> <br>
          Review Rating: <%= book.review_rating %> <br>
          User Comment: <%= book.review_description %> <br>
          <%= link_to "Add Review", edit_booking_path(book) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="booking-details">
    <div class="col-lg-4">
      <ul>
        <h2>Boat Details</h2>
        <% @user.boats.each do |boat| %>
        <li>
          Boat: <%= boat.name %> <br>
          <%= cl_image_tag(boat.photo, width: 150, height: 150, crop: :thumb, gravity: :face) %>
          <%= link_to "Boat details", boat_path(boat) %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
