
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="log-in">
  <div class="login-block">
    <h1>Login</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.text_field :email, required: false, autofocus: true, placeholder: "Username", id: "username" %>
    <%= f.password_field :password, required: false, placeholder: "password", id: "username" %>
    <%= f.button :submit %>
    <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>



