<h1 align="center">Yachts for Rent</h1>
  <div class="container">
    <div class="row">
      <%= form_tag boats_path, method: :get do %>
      <div class="search">
        <%= text_field_tag(:query, params[:query], { class: 'form-control', placeholder: "Search for a boat..." }) %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @boats.each do |boat| %>
        <div class="col-xs-12 col-sm-4">
          <% if boat.photo.present? %>
            <% image = cl_image_path boat.photo, height: 300, width: 400, crop: :fill %>
          <% else %>
            <% image = image_path 'yacht.png' %>
          <% end %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image %>')">
            <!-- <div class="card-category"></div> -->
            <div class="card-description">
              <h2><%= boat.name %></h2>
            </div>
            <div class="card-link text-center">
              <%= link_to boat_path(boat) do %>
                <h4>Details and Booking</h4>
              <% end  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<button class="btn-back text-center" id="stupid-btn">
  <%= link_to "Add new boat", new_boat_path, class:"my-btn" %>
</button>
  </div>

