<div class="banner new-boat-page">
  <!-- <div class="add-boat"> -->
    <div class="add-boat-block">
      <h1>Add your boat</h1>
      <%= form_for(@boat) do |f| %>
      <%= f.text_field :name, required: false, autofocus: true, placeholder: "name" %>
      <%= f.text_field :nr_of_guests, required: false, placeholder: "guests" %>
      <%= f.text_field :nr_of_rooms, required: false, placeholder: "rooms" %>
      <%= f.button :submit %>

      <% end %>
    <!-- </div> -->
  </div>
</div>




