<div class="banner new-boat-page">
  <!-- <div class="add-boat"> -->
    <div class="add-boat-block">
      <h1>Add your boat</h1>
      <div class="background">
        <div class="full-form">
          <div class="text-box">
           <%= form_for(@boat) do |f| %>
           <div class="form-group form-inline">
            <%= f.text_field :name, required: false, autofocus: true, placeholder: "Name" %>
            <%= f.text_field :address, required: false, placeholder: "Address"  %>
          </div>


          <div class="form-group form-inline">

            <%= f.text_field :nr_of_guests, required: false, placeholder: "Number Of Guests" %>
            <%= f.text_field :nr_of_rooms, required: false, placeholder: "Rooms Needed" %>
          </div>


          <div class="form-group form-inline">

            <%= f.text_field :price_per_day, required: false, placeholder: "price" %>
            <%= f.text_field :description, required: false, placeholder: "Description" %>

          </div>

          <div class="form-group form-inline">


          </div>

          <div class="form-group form-inline">

            <%= f.file_field :photo %>
          </div>
          <div class="form-group form-inline">

            <button class="btn-submit"<%= f.button :submit %>
            </div>



            <% end %>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>

