<h1 class="boat-title"><%= @boat.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <div class="info-list">
        <p><strong>Boat name:</strong> <%= @boat.name %></p>
        <p><strong>Description</strong> <%= @boat.description %></p>
        <p><strong>Guests</strong>: <%= @boat.nr_of_guests %></p>
        <p><strong>Rooms:</strong> <%= @boat.nr_of_rooms %></p>
        <p><strong>Price per day:</strong> <%= @boat.price_per_day %></p>
      </div>
      <div class=all_buttons>
        <button class="btn-book">
          <%= link_to "Book now!", new_boat_booking_path(@boat) %>
        </button>
      </div>
    </div>

    <div class="col-md-6 col-sm-1">
      <div class="picture_map">
        <div class="photo">
          <%= cl_image_tag(@boat.photo, width: 300, height: 250, crop: :thumb, gravity: :face) %>
        </div>
        <div class="map">
          <div id="map" style="width: 300px; height: 250px;" data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>
    </div>



    <div class="col-lg-12 col-md-3 col-sm-1">
      <div class="booking-details">
        <ul>
          <h2>Booking Details</h2>
          <% @boat.bookings.each do |book| %>
          <li>
            User: <%= book.user.first_name %> <%= book.user.last_name %> <br>
            Period: <%= book.start_date %>, <%= book.end_date %> <br>
            Review Rating: <%= book.review_rating %> <br>
            User Comment: <%= book.review_description %> <br>
            <button class="btn-review">
              <%= link_to "Add Review", edit_booking_path(book) %>
            </button>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-3 col-sm-1">
  <div class="wrapper">
    <button class="btn-back">
      <%= link_to "Back to listings", boats_path %>
    </button>
  </div>
</div>
