<h1><%= @boat.name %></h1>

<div class="box">
  <%= @boat.name %>
</div>

<br>

<!-- <ul>
<%# @boat.reviews.each do |rev| %>
<li>
  <%= rev.content %>, <%= rev.rating %>
</li>
<%# end %>
</ul> -->
<br>
<br>
<!-- <%=# link_to "Add review", new_restaurant_review_path %>
<br>
-->
<p> <%= link_to "Back to list", boats_path %></p>
