<h1><%= @boat.name %></h1>

<div class="box">
 Boat Name: <%= @boat.name %>
<br>
<br>
  User ID: <%= @boat.user %>
<br>
<br>
  Description: <%= @boat.description %>
<br>
<br>
  Guests: <%= @boat.nr_of_guests %>
<br>
<br>
  Rooms: <%= @boat.nr_of_rooms %>
<br>
<br>
  Price per day: <%= @boat.price_per_day %>
</div>

<ul>
<% @boat.bookings.each do |book| %>
<li>
  <%= book.start_date %>, <%= book.end_date %>
</li>
<% end %>
</ul>
<br>

<p> <%= link_to "Book!", new_boat_booking_path(@boat) %></p>
<p> <%= link_to "Back to list", boats_path %></p>
<p> <%= link_to "logout", destroy_user_session_path, method: :delete %></p>
